body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a76969;
}

.container {
    background: #fa9d9d;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-decoration: underline;
}

input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #af4c9e;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c9b5c5;
}

ul {
    list-style-type: none;
    padding: 0;
   
}

li {
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 4px;
  }


li button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #e53935;
}